main {
  max-width: 1440px;
  height: 98vh;
  background-image: url("../assets/images/bg-intro-desktop.png");
  background-color: var(--red);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.wrapper {
  height: 560px;
  width: 1110px;
  display: flex;
}

.left {
  width: 51.4%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 49px;
  font-weight: var(--font-weight-600);
  color: hsl(0, 0%, 100%);
  line-height: 1.1em;
  margin-top: 11px;
  font-weight: var(--font-weight-600);
}

.description {
  color: hsl(0, 0%, 100%);
  line-height: 1.7em;
  margin-top: 25px;
  word-spacing: 1px;
}

.right {
  width: 48.6%;
}

.banner {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(248, 32%, 48%);
  width: 100%;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0px 8px 0px 0px hsla(249, 10%, 26%, 0.2);
  padding: 5px 0 0 0;
  font-size: 15.5px;
  font-family: "Poppins", sans-serif;
  cursor: default;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
}

br {
  display: none;
}

.banner-message {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  main {
    max-width: 375px;
    height: 130vh;
    background-image: url("../assets/images/bg-intro-mobile.png");
    padding: 0 24px;
  }

  .wrapper {
    height: 832px;
    width: 100%;
    flex-direction: column;
  }

  .left {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .title {
    font-size: 27.5px;
    margin: 0;
    line-height: 1.3em;
  }

  .description {
    margin-top: 23px;
    line-height: 1.6em;
    word-spacing: 0;
  }

  .right {
    width: 100%;
    height: 100%;
  }

  .banner {
    height: 90px;
    margin-top: 62px;
    flex-direction: column;
    padding: 0;
  }

  br {
    display: block;
  }
}
